<div class="row">
  <div class="small-10 columns">
    <ol>
      <li>Name any two JavaScript functions, which are used to convert non-numeric values into numbers?</li>
      {{textarea value=model.questions.question1}}

      <li>Describe “===” operator?</li>
      {{textarea }}

      <li>What is typeof []?</li>
      {{textarea }}

      <li>What is 2+true?</li>
      {{textarea}}

      <li>What is +’Hey’?</li>
      {{textarea}}
    </ol>
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
    <button {{action 'nextPage'}} class="right"> Submit Answers </button>
  </div>
</div>
