<div class="row">
  <div class="small-10 columns">
    <ol>
      <li>What will be the output of null ===undefined?</li>
      {{textarea}}

      <li>Consider following two snippets. What will be the result and why?<br/>
      Snippet#1:<br/>
      function test() {<br/>
      c = 20;<br/>
      var d = 100;<br/>
      }<br/>
      test();<br/>
      console.log(c);<br/>
      console.log(d);<br/><br/>
      {{textarea }}
      Snippet#2:<br/>
      expression();<br/>
      var expression = function() {<br/>
        console.log('Will this work?');<br/>
      };<br/></li>
      {{textarea }}
    </ol>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <button {{action 'nextPage'}} class="left"> Next </button>
  </div>
  <div class="small-6 columns">
    <button {{action 'previousPage'}} class="right"> Back </button>
  </div>
</div>
